body{
  background-color:#1c3c8533;
}







/*Profile section*/




.h_part5
{
  color: orange;
  font-weight: bold;
}


.h_part6
{
  color: yellowgreen;
  font-weight: bold;
}







.text-tel{
  color:#316dc3;
  font-weight: bold;
 }



.site_section1{
  padding: 7rem 0; 

}

@media (max-width: 991.98px) 
{
    .site_section1 
    {
      padding: 3rem 0; 
      background-color:#1c3c8533;
    } 
}



.pack
{
  color: #777;
  padding: 40px;
  height: 210px;
  border-radius: 7px;
 }

.pack h3 
 {
    font-size: 18px;
    margin-bottom: 30px;
 }



/*End profile Section section*/
